@import 'variables';

.gist {

    a {
        color: inherit;
    }
}

div.highlight {

    * {
        word-wrap: break-word !important;
        text-wrap: wrap !important;

        white-space: -webkit-pre-wrap;
        white-space: pre-wrap;

        font-size: $regular-font-size !important;
    }

    code {
        background-color: rgba($secondary-accent-color, 0.20);
    }

    > pre {
        padding: 5px;

        code {
            background-color: initial;
        }
    }
}