@import 'variables';

html {
    
    background-color: $page-background-color;

    body {

        * {
            border-radius: 0px !important;
        }

        font-family: $primary-font;
    }
}