{{ define "main" }}

<div class="list">

    {{ range .Data.Pages }}

    <article {{ with .Params.featured }} class="featured" {{ end }}>
      
      {{ partial "meta.html" . }}
      
      <div class="article-header">

        <a href="{{ .Permalink }}">
          <h1 class="article-title">{{ .Title }}</h1>
        </a>        
        
        <h2 class="article-excerpt">{{ .Params.excerpt }}</h2>
        
      </div>
      

    </article>
    
    {{ end }}

</div>

{{ partial "pagination" . }}

{{ end }}