{{ define "main" }}

<div class="tag">

    <p class="term">Results for tag <span>{{ .Data.Term }}</span>. </p>
    <p class="all"><a href="{{ .Site.BaseURL }}tags">All the tags</a></p>
    
</div>

{{ range .Data.Pages }}

<article {{ with .Params.featured }} class="featured" {{ end }}>
  
  {{ partial "meta.html" . }}

  <div class="article-header">
    
    <a href="{{ .Permalink }}">
      <h1 class="article-title">{{ .Title }}</h1>
    </a>        
    
    <h2 class="article-excerpt">{{ .Params.excerpt }}</h2>

  </div>

</article>

{{ end }}

{{ partial "pagination" . }}

{{ end }}